/* riset css */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}
/* header */
.header-link {
  float: left;
  color: gray;
  font-size: 32px;
  margin: 20px;
  display: inline-block;
}

.header-image {
  background-image: url(img/mv.jpg);
  height: 400px;
  background-position: bottom;
  background-size: cover;
}

/* article */
.article-wrapper {
  width: 840px;
  margin: 50px auto;

}

.top-article {
  padding-bottom: 30px;
  border-bottom: 1px solid #d1d1d1;
  color: gray;
  opacity: 0.7;
}
.top-article a{
  color: gray;
  opacity: 0.7;
}

.middle-article {
  padding: 30px 0;
  border-bottom: 1px solid #d1d1d1;
  color: gray;
  opacity: 0.7;
}
.middle-article a{
  color: gray;
  opacity: 0.7;
}
.bottom-article {
  padding: 30px 0;
  border-bottom: 1px solid #d1d1d1;
  color: gray;
  opacity: 0.7;
}
.bottom-article a{
  color: gray;
  opacity: 0.7;
}