/* ricet css */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.list {
  width: 960px;
  margin: 50px auto;
  display: block;
}

ul {
  list-style: none;
}

.list li {
  padding: 20px;
}

.list li:nth-child(odd){
  background-color: #cccccc;
}
.parents {
  width: 960px;
  margin: 0 auto;
  display: block;
}
.color-box1 {
  width: 960px;
  display:flex;
  flex-wrap: wrap;
}
.color-box2 {
  width: 960px;
  display:flex;
  flex-wrap: wrap;
}
.color-box3 {
  width: 960px;
  display:flex;
  flex-wrap: wrap;
}
.box {
  height: 200px;
  flex: auto;
}

.yellow {
  background-color: yellow;
}

.orange {
  background-color: orange;
}
.left {
  margin-right: 5%;
}
.center {
  margin-right: 5%;
}
.right {
  margin-right: 0;
}
.up {
  margin-bottom: 40px;
}