/* riset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  height: 50px;
  background-color: #ff9a4b;
}

footer {
  height: 50px;
  background-color: #aaa;
}

.article-wrapper {
  margin: 50px auto;
  width: 960px;
  /* flex */
  display: flex;
  flex-wrap: wrap;
}
.box {
  width: 300px;
  height: 300px;
  background-color: #eee;
  margin-right: 30px;
  /* position */
  position: relative;
}
.box-right{
  width: 300px;
  height: 300px;
  background-color: #eee;
  /* position */
  position: relative;
}
.steps-box{
  background-color: #ff9a4b;
  color: white;
  /* position */
  position: absolute;
}
img{
  height: 150px;
  margin: 10px;
  width: 280px;
}
h3 {
  margin: 5px;
}

p {
  display: inline-block;
  margin: 5px;
  font-size: 8px;
}